dist: trusty
sudo: required
language: cpp

addons:
  apt:
    sources:
    - sourceline: 'ppa:mhier/libboost-latest'
    packages:
    - libboost1.68-dev

script:
  - cmake -DBUILD_TESTS=on .
  - make
  - ctest
